/* Add CSS Styling */

.odd {
    background-color: #ffcccb;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.bigger {
    font-size: 24px;
}

#even {
    color: #0000ff;
    font-size: 36px;
}

#even-second {
    background-color: #90ee90;
    font-weight: bold;
}
