/* Add CSS Styling */

.container .text {
    text-align: center;
    color: red;
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}